@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), url("/js/local/WorkSans.ttf") format('truetype');
}

.yellow {
    padding: 40px 140px;
    padding-right: 320px;
    text-align: justify;
}

.quote {
    background: linear-gradient(to bottom right, #FFFFCC, yellow); /* Standard syntax */
    font-family: 'Monospace';
    font-style: italic;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    line-height: 1.7;
}

.source {
    background-color: yellow;
    text-align: right;
    font-size: 0.8em;
    font-family: 'Work Sans';

}
.source a, .source a:hover {
    color: black;
    text-decoration: underline;
}

.author {
    font-size: 0.5em;
    // background-color: black;
}

.footer {
    border-top: black 1px solid;
}
