doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title American Muslims Tracking Exposed
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Sanchez|Work+Sans', rel='stylesheet')
    link(rel='stylesheet', href='/campaign/trex.css')
    script(type='text/javascript', src='js/vendor/d3.min.js')
    script(type='text/javascript', src='js/vendor/d3-sankey.min.js')
    meta(property='og:title', content='american.muslims.tracking.exposed')
    meta(property='og:image', content='https')
    meta(property='og:url', content='website')
    meta(property='og:type', content='website')
    meta(property='og:description', content='This project takes the cue from the recent Muslim ban. Since algorithms can express the behavior of internet users, it suggests that sensible data can be easily exploited just taking advantage of third party trackers already existing on the internet for lawful reasons. It targets website management, citizens who practice Islam, and tracking companies and aims to finalize a method to collaborate against such a danger, by assessing, as a first step, the presence of third-party tracking.')
    script(src='/campaign/trex.js')
  body(onload="amtrexRender('mosques', '#table');")
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#thenavbar', aria-expanded='false')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #thenavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#where') See where
            li
              a(href='#requests') Reasonable requests
            li
              a(href='#support') Do something
    .container.firstcontent
      h1 Exposing Online Tracking of American Muslims
      h2 Who could have a registry?
      p.textR
        | This project takes the cue from the recent Muslim ban. Since algorithms can express the behavior of internet users, it suggests that sensible data can be easily exploited just taking advantage of third party trackers already existing on the internet for lawful reasons. It targets website management, citizens who practice Islam, and tracking companies and aims to finalize a method to collaborate against such a danger, by assessing, as a first step, the presence of third-party tracking.
      p.textL
        | If a user frequently accesses web pages intended for an Islamic audience, an algorithm could assume the user is an active Islamic practitioner. This normally is addressed as an advertigins effect, since the 2007 institutions address the 
        a(href='https://epic.org/privacy/consumer/online_tracking_and_behavioral.html', target='_blank') phenomena
        | , and recently new progress has been made by 
        a(href='https://www.theatlantic.com/technology/archive/2017/02/browsing-history-identity/515763/') Stanford and Princetor researcher
        | .
      p.textR
        b
          | Now is it clear the impact is not just on advertising business, but on the life of a category actively threatened by discriminatory policies.
      p.textL
        | Who can do such monitoring? the website itself, but when you are connecting to a single website, truly, your device is connecting to many websites. They take name of 
        b web trackers
        |  and they can monitor your navigation across many websites.
      p.textR When this happen, the assumption that you are muslim, became stronger.
      p.textL
        | Websites use trackers in their pages for different, and justified, reasons: advertising, analytics, social engagement. Just, considering the muslimban, a new sensibility is necessary by websites and by trackers. This campaign contains suggestions, below, that only your crowd can ask!
      p
      p.textR
        | These websites are ultimately responsible of the trackers served to their readers. Often they are not aware of which trackers they are including.
    .container
      h2 Look the companies that could have this data&mldr;
      ul.nav.nav-tabs.nav-justified.reduced
        li#halal(role='presentation')
          a(onclick="amtrexRender('halal', '#table');")
            img(src='/campaign/halal.png')
          p.idesc Halal food
        li#travel(role='presentation')
          a(onclick="amtrexRender('travel', '#table');")
            img(src='/campaign/hajj.png')
          p.idesc Hajj &apos;Umra trips
        li#mosques(role='presentation')
          a(onclick="amtrexRender('mosques', '#table');")
            img(src='/campaign/mosque.png')
          p.idesc Moques
        li#culture(role='presentation')
          a(onclick="amtrexRender('culture', '#table');")
            img(src='/campaign/culture.png')
          p.idesc Culture
      #table
    .container
      h2#requests.titles What the companies might do for your protection
      p.textL
        | The companies have only a partial fault, they are in a Nation in which a gag order can force them to cooperate. A anticipated advice list was the one 
        a(href='https://www.eff.org/deeplinks/2016/11/tech-companies-fix-these-technical-issues-its-too-late') EFF made when Trump was still president Elected
        | .
      ul
        li
          | How easy is it to link the collected profiles to a phone number (and to a physical ID)? Can you minimize your data collected into groups of users instead of keeping personal behavior&apos;s history? We will assume you are keeping individual personal profile unless otherwise stated.
        li
          | The access itself to such website creates 
          a(href='https://www.teachprivacy.com/sensitive-data-different-definitions-privacy-law/', target='_blank') sensitive data
          | ; Would be appropriate treat all users navigating in those sites 
          b as if
          |  they have 
          a(href='https://en.wikipedia.org/wiki/Do_Not_Track', target='_blank') Do Not Track
          |  enabled.
        li
          | Can you disclose the amount and the kind of metadata you collect? considering these data describe societal behavior, knowing who has more metadata is in the public interest.
        li
          | If your company, ever got any request of user selection based on their religious beliefs: send a tip off to the investigative journalists of 
          a(href='https://www.propublica.org/article/how-to-leak-to-propublica', target='_blank') ProPublica
          | , they wrote this 
          a(href='https://www.propublica.org/article/facebook-lets-advertisers-exclude-users-by-race', target='_blank') story on racial profiling perfomed by Facebook
          | : but how many other companies can do the same?
        li
          | Have you ever been compromised? do you have any mechanism that might prevent unfaithful employee or remote attacker to steal profile based data from your server? We have to assume you are not protected if not otherwise stated.
    .container
      h2#support.titles Is it important spread the word!
      ul
        li
          b Do you know someone in these companies
          | ? Forward them the requests above, they will rather listen to a friend like you than a website like us.
        li
          b Protect yourself
          | : check it out how reduce your 
          a(href='https://myshadow.org/prevent-online-tracking') Digital Shadow
          | , or look at 
          a(href='http://www.internetsociety.org/your-digital-footprint/what-is') these videos of Internet Society
          |  if you want know more.
        li
          b If you know owner of websites
          |  ask them to control their third party trackers. Many time they are not even aware on how many are present.
    .container
      h3 Websites selection
      p
        | The site tested are suggested by the online community and monderated by maintainers. We&apos;ve to crowdsource, because an intelligence agency or a global advertiser knows which are the readers and the content of websites, but nobody other does. We&apos;ve to relay in an open process to provide an useful feedback to the public. The website tested, and the analysis output, are kept 
        a(href='https://github.com/tracking-exposed/amtrex/') In a git repostory
        | .
    .container
      h3 F.A.Q.
      p
        b How do we found the trackers?
        |  this analysis is done with the same approach used by 
        a(href='https://webtransparency.cs.princeton.edu/webcensus/', target='_blank') Princeton University WebCensus
        |  done 1 year ago. The technology used is the advancement of 
        a(href='https://trackography.org') Trackography
        | , now 
        a(href='https://invi.sible.link') invi.sible.link
        | .
      p
        b Is this wiretapping?
        |  No, That can be solved if website uses HTTPS, but this is a different kind of user survelliance. Provide knowledge on interest and trend, works over mass of people and can be 
        i zoomed
        |  to a nation, a neighbordood, a company, etc
    .container
      h2#about.titles About Us
      table.table.table-striped
        thead
          tr
            th Name
            th Affiliation
            th for
        tbody
          tr
            td
              a(href='https://twitter.com/_vecna', target='_blank') Claudio Agosti
            td
              a(href='https://facebook.tracking.exposed', target='_blank') facebook.tracking.exposed
            td analysis, management
          tr
            td Tullia Mancuso
            td
            td research, revision
          tr
            td
              a(href='https://twitter.com/maasalan', target='_blank') Mahsa Alimardani
            td Internet researcher
            td research, revision
          tr
            td
              a(href='https://twitter.com/draganakaurin', target='_blank') Dragana Kaurin
            td
              a(href='https://www.localizationlab.org/', target='_blank') LocalizationLab
            td consultant
    .container
      h3 Technical help
      p
        | The list of website analyzed above is supposed to reflect the content seen by an American Muslim. This task is a collaborative effort, propose your changes to the site list: 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/culture-list.csv') Culture and generic Islamic websites
        | , 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/halal-list.csv') Halal food shop
        | , 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/mosques-list.csv') Mosques
        |  and 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/travel-list.csv') Travel agency for Hajj and &apos;Umra
      p
        | Do you know any resource for webmaster to limit/reduce their trackers? analysis tool and alternatives services? Please suggest us with a 
        a(href='https://github.com/tracking-exposed/amtrex') pull request
        | .

