body {
    background-color: #d9f9e1;
    font-size: 18px;
}

.firstcontent {
    padding-top: 70px;
}

@font-face {
    font-family: 'FrancoisOne';
    font-style: normal;
    font-weight: 400;
    src: local('FrancoisOne'), url("/js/local/FrancoisOne.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: 'FrancoisOne', serif;
    margin-bottom:1em;
    font-weight:bold;
}

.idesc {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}

.lighter {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-left: 3em;
    background-color: #b3fcc5;
    padding-bottom: 1em;
    padding-top: 1em;
}


.greener {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    border: #b3fcc5;
}


#table {
    /* background-image: url('fixtures/background.png'); */
    background-color: #f1ffea;
}
