.container.firstcontent

    h2 About
    p.text This initiative was founded by 
        a(href='https://twitter.com/_vecna', target='_blank') Claudio Agosti
        |. Thanks to the support of Rahma Sghaier (Content), Tullia Mancuso (the first feedback!), 
        a(href='https://twitter.com/maasalan', target='_blank') Mahsa Alimardani
        |  (Research), Michele Invernizzi (Editing), 
        a(href='https://twitter.com/draganakaurin', target='_blank') Dragana Kaurin
        |  (Research): without their precious help, this project would not have come to life. 

    h1 And next?
    p.text Please feel free to get in touch on 
        a(href="https://github.com/tracking-exposed/amtrex/issues/4") github
        |, and join a volunteer community of active users against Muslim tracking. We need your support for the following the workflow:
        ul.text
            li suggesting websites to be analyzed and monotiring their accuracy against any miuse or publicity stunt
            li updating the list under analysis, making a test per week?
            li creating and managing campaigns on social media for the project's exposure
            li deepening the third party resources' technical analysis to indentify differences between invasive trackers and harmless resources
            li providing privacy-aware assistance for the webmaster and a list alternatives to invasive trackers

    p.text You can follow us via github: the trackers-analysis platform, the 
        a(href='https://www.github.com/vecna/invi.sible.link/', target='_blank') invi.sible.link
        |, or the 
        a(href='https://www.github.com/tracking-exposed/amtrex', target='_blank') American Muslims
        |  campaign page

    h3 Contribute in the website collection
    p.text The list of website analyzed above is supposed to reflect the content seen by an American Muslim. This task is a collaborative effort, propose your changes to the site list: 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/culture-list.csv') Culture and generic Islamic websites
        | , 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/halal-list.csv') Halal food shops
        | , 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/mosques-list.csv') Mosques
        |  and 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/travel-list.csv') Travel agencies for Hajj and &apos;Umra
   
