.container.firstcontent
    h2 About
    p.text This is a personal initiative of 
        a(href='https://twitter.com/_vecna', target='_blank') Claudio Agosti
        |. And many many THANKS to Tullia Mancuso, 
        a(href='https://twitter.com/maasalan', target='_blank') Mahsa Alimardani
        |, Michele Invernizzi, Beatrice Martini, and 
        a(href='https://twitter.com/draganakaurin', target='_blank') Dragana Kaurin
        |: Without their precious feedback, the process might not get completed. 

.container
    h2 And next?
    p.text Get in touch on 
        a(href="https://github.com/tracking-exposed/amtrex/issues/4") github
        |, and let see if a community of active users gets created. In theory, the workflow might include:
        ul.text
            li receive internet suggested website to be analyzed
            li update the list under analysis, a test per week?
            li do campaign on the social media, to make feel attention to the website analyzed. offer support? the goal is to make a website which access is sensitive, less exposed to third party trackers. Some kind of tutoring perhaps?
            li going deeper in trackers technical analysis and risk: differences between CDN and pictures and javascript profiling
            li provide privacy-aware assistance for webmaster, a list of tips based on the third party sources found.

    p.text If a community of contributor is created around, I'm ready to pass the ownership and maintenance of the project to someone more appropriate than me... also, because I'm a European atheist living in South America. I'm here because I was analyzing the third party trackers and I got a bit worried the day of the muslim ban.

    p.text You can see the development via github, with trackers-analysis platform, the 
        a(href='https://www.github.com/vecna/invi.sible.link/', targrt='_blank') invi.sible.link
        |, or the 
        a(href='https://www.github.com/tracking-exposed/amtrex', target='_blank') American Muslims
        |  campaign page

.container
    h3 Technical help
    p.text The list of website analyzed above is supposed to reflect the content seen by an American Muslim. This task is a collaborative effort, propose your changes to the site list: 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/culture-list.csv') Culture and generic Islamic websites
        | , 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/halal-list.csv') Halal food shop
        | , 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/mosques-list.csv') Mosques
        |  and 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/travel-list.csv') Travel agency for Hajj and &apos;Umra
    p.text Do you know any resource for webmaster to limit/reduce their trackers? analysis tool and alternatives services? Please suggest us with a 
        a(href='https://github.com/tracking-exposed/amtrex') pull request
        | .
