doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title American Muslims Tracking Exposed

        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')

        script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/js/vendor/lodash.min.js')
        script(type='text/javascript', src='/js/vendor/moment.min.js')

        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/vendor/moment.min.js')
        script(type='text/javascript', src='/js/vendor/d3.min.js')
        script(type='text/javascript', src='/js/vendor/c3.min.js')
        script(type='text/javascript', src='/js/vendor/d3-sankey.min.js')

        script(type='text/javascript', src='/js/local/trex.js')

        link(rel='stylesheet', href='/js/local/trex.css')
        link(rel='stylesheet', type='text/css', href='/css/c3.css')

        meta(property='og:title', content='american.muslims.tracking.exposed')
        meta(property='og:image', content='https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png')
        meta(property='og:url', content='https://american.muslims.tracking.exposed')
        meta(property='og:type', content='website')
        meta(property='og:description', content='This project takes the cue from the recent Muslim ban. Since algorithms can express the behavior of internet users, it suggests that sensible data can be easily exploited just taking advantage of third party trackers already existing on the internet for lawful reasons. It targets website management, citizens who practice Islam, and tracking companies and aims to finalize a method to collaborate against such a danger, by assessing, as a first step, the presence of third-party tracking.')

    body(onload='initializeLanding("mosques", "American Muslims Tracking Exposed: ");loadPage("/landing");')

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container-fluid
                a.navbar-brand(href='/') 
                    span(class="glyphicon glyphicon-home")
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon

                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href='/') Note: this website is currently in renewal,   -  
                                span(class="glyphicon glyphicon-home") Welcome
                                span.sr-only (current)
                            li.nav-item
                                a.nav-link(href='#knowmore') Know more
                            li.nav-item
                                a.nav-link(href='#about') About

        div#content

        include landing
        include what-to-do
        include about
        include footer
