doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title American Muslims Tracking Exposed

        link(rel='stylesheet', href='/css/bootstrap.css')
        script(type='text/javascript', src='/js/vendor/jquery.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')

        script(type='text/javascript', src='js/vendor/d3.min.js')
        script(type='text/javascript', src='js/vendor/d3-sankey.min.js')

        script(type='text/javascript', src='/campaign/scaffolding.js')
        link(rel='stylesheet', href='/campaign/scaffolding.css')

        link(rel='stylesheet', href='/campaign/amtrex.css')

        meta(property='og:title', content='american.muslims.tracking.exposed')
        meta(property='og:image', content='https')
        meta(property='og:url', content='website')
        meta(property='og:type', content='website')
        meta(property='og:description', content='This project takes the cue from the recent Muslim ban. Since algorithms can express the behavior of internet users, it suggests that sensible data can be easily exploited just taking advantage of third party trackers already existing on the internet for lawful reasons. It targets website management, citizens who practice Islam, and tracking companies and aims to finalize a method to collaborate against such a danger, by assessing, as a first step, the presence of third-party tracking.')

    body(onload='setupLanding();')

        nav.navbar.navbar-default.navbar-fixed-top
            .container
                ul.nav.navbar-nav
                    li(class="landing")
                        a(onclick='loadPage("#content", "landing");' class='links') Observer
                    li(class="what-to-do")
                        a(onclick='loadPage("#content", "what-to-do");' class='links') What to do
                    li(class="about")
                        a(onclick='loadPage("#content", "about");' class='links') About

                .navbar-header.navbar-right
                    a.navbar-brand Watch the watchers!

        div#content

        include footer
