.container.firstcontent

    h1 More details 

    p.text If you want to share this message, please consider also this concise article on 
        a(href="https://medium.com/@trackingexposed/background-thoughts-on-https-american-muslims-tracking-exposed-cb0de1e16cd1" target="_blank") algorithm surveillance and religious freedom
        |.

    p.text Every time you connect to a website,  are in fact connecting to many websites. These services are named third parties, and both academia and policy regulator has extensively researched on it.

    p.text trackers very likely end up to represent a privacy problem, and based on the social and digital context, a security risk.

    p.text Solutions have been pointed out, a lot of debate is ongoing because this is the technical requirement of the online advertising, the primary business model on the Internet. 

    p.text Third parties have many reasons to exist. Some of them make your navigation better, and few of them don't even track users.  Not all third parties are wrong, most of the time, they feed a complex market of personal profiles. 

    .col-md-12
        span.col-md-5.lighter On the left, the grey market. Companies who buys enrich, analyze and resell personal or group profiles. 
        span.col-md-1 
        span.col-md-5.lighter On the right, the companies that might be present in your navigation
        img(src="/campaign/Lumascapes-greyscale-2012-reduced.png")
    .col-md-12 This is a releaboration of the original research from 
        a(href="http://www.lumapartners.com/resource-center/") LUMA partners
        |.

    h1 Tracking is not just made by Cookies
    p.text It is known that cookies are one of the techniques used to track a user but is not the only one.
        a(href="http://webkay.robinlinus.com/") This website shows how much your browser left fingerprints to third party scripts
        |. Test your browser!
