.container.first
    h2 What you might do
    p.text I'll take it simple: 
        a(href="https://www.ublock.org/" target="_blank") install ublock (a kind of adblocker) and disable it only for news websites
        |.

.container
    h2 What the companies might do for your protection
    p.text The companies have only a partial fault, they are in a Nation in which a gag order can force them to cooperate. A anticipated advice list was the one 
        a(href='https://www.eff.org/deeplinks/2016/11/tech-companies-fix-these-technical-issues-its-too-late') EFF made when Trump was still president Elected
        |.
    h3 Some practical question for their employees:
    ul.text
        li How easy is it to link the collected profiles to a phone number (and to a physical ID)? Can you minimize your data collected into groups of users instead of keeping personal behavior&apos;s history? We will assume you are keeping individual personal profile unless otherwise stated.
        li The access itself to such website creates 
            a(href='https://www.teachprivacy.com/sensitive-data-different-definitions-privacy-law/', target='_blank') sensitive data
            |; Would be appropriate treat all users navigating in those sites 
            b as if
            |  they have 
            a(href='https://en.wikipedia.org/wiki/Do_Not_Track', target='_blank') Do Not Track
            |  enabled (Note: 
            a(href="http://abcnews.go.com/Technology/wireStory/facebook-data-surveillance-46104496") Facebook gave a nice declaration of intent
            |; Indeed they display a 
            a(href="https://theintercept.com/2017/03/02/palantir-provides-the-engine-for-donald-trumps-deportation-machine/") different style compared to Palantir
            |, but still, technical solutions like the end2end deployment gives a measurable security, words are nice but words don't protect against Intelligence infiltrating Facebook nor against National Security Letters)
        li Can you disclose the amount and the kind of metadata you collect? considering these data describe societal behavior, knowing who has more metadata is in the public interest.
        li If your company, ever got any request of user selection based on their religious beliefs: send a tip off to the investigative journalists of 
            a(href='https://www.propublica.org/article/how-to-leak-to-propublica', target='_blank') ProPublica
            | , they wrote this 
            a(href='https://www.propublica.org/article/facebook-lets-advertisers-exclude-users-by-race', target='_blank') story on racial profiling performed by Facebook
            | : but how many other companies can do the same?
        li Have you ever been compromised? do you have any mechanism that might prevent unfaithful employee or remote attacker to steal profile based data from your server? We have to assume you are not protected if not otherwise stated.

.container
    h2 Is it important spread the word!
    ul.text
        li
            b Do you know someone in these companies
            | ? Forward them the requests above, they will rather listen to a friend like you than a website like us.
        li
            b Protect yourself
            | : check it out how reduce your 
            a(href='https://myshadow.org/prevent-online-tracking') Digital Shadow
            | , or look at 
            a(href='http://www.internetsociety.org/your-digital-footprint/what-is') these videos of Internet Society
            |  if you want know more.
        li
            b If you know owner of websites
            |  ask them to control their third party trackers. Many time they are not even aware on how many are present.

.container
    h2 F.A.Q.
    p.text
        b How do we found the trackers?
        |  this analysis is done with the same approach used by 
        a(href='https://webtransparency.cs.princeton.edu/webcensus/', target='_blank') Princeton University WebCensus
        |  done 1 year ago. The technology used is the advancement of 
        a(href='https://trackography.org') Trackography
        | , now 
        a(href='https://invi.sible.link') invi.sible.link
        | . The process of attribution between third party trackers → company name → company nation is quite manual, slow, and open to mistakes.
    p.text
        b Is this wiretapping?
        |  No, That can be solved if website uses HTTPS, but this is a different kind of user surveillance. Provide knowledge on interest and trend, works over mass of people and can be 
        i zoomed
        |  to a nation, a neighborhood, a company, etc…
