.container.firstcontent

  h1 More details 

  p.text Every time you connect to a website,  are in fact connecting to many websites. These services are named third parties, and both academia and policy regulator has extensively researched on it.

  p.text trackers very likely end up to represent a privacy and based on the social and digital context, a security risk.

  p.text Solutions have been pointed out, a lot of debate is ongoing because this is the technical requirement of the online advertising, the primary business model on the Internet. 

  p.text Third parties have many reasons to exist. Some of them make your navigation better, and few of them don't even track users.  Not all third parties are wrong, most of the time, they feed a complex market of personal profiles. 

  .col-md-12
    span.col-md-6.lighter On the left, companies who buys enrich, analyze and resell personal or group profiles. 
    span.col-md-6.lighter On the right, the companies that might be present in your navigation
    img(src="/campaign/Lumascapes-greyscale-2012-reduced.png")

