.container
    h3 Websites selection
    p The site tested are suggested by the online community and monderated by maintainers. We&apos;ve to crowdsource, because an intelligence agency or a global advertiser knows which are the readers and the content of websites, but nobody other does. We&apos;ve to relay in an open process to provide an useful feedback to the public. The website tested, and the analysis output, are kept 
        a(href='https://github.com/tracking-exposed/amtrex/') In a git repostory
        |.


.container
    h3 Technical help
    p The list of website analyzed above is supposed to reflect the content seen by an American Muslim. This task is a collaborative effort, propose your changes to the site list: 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/culture-list.csv') Culture and generic Islamic websites
        |, 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/halal-list.csv') Halal food shop
        |, 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/mosques-list.csv') Mosques
        |  and 
        a(href='https://github.com/tracking-exposed/amtrex/blob/master/travel-list.csv') Travel agency for Hajj and &apos;Umra.

    p Do you know any resource for webmaster to limit/reduce their trackers? analysis tool and alternatives services? Please suggest us with a 
        a(href='https://github.com/tracking-exposed/amtrex') pull request
        | .

