.container.firstcontent

    h3 For yourself
    p.text I'll take it simple: 
        a(href="https://www.ublock.org/" target="_blank") install ublock (a kind of adblocker) and disable it only for trustworthy news websites
        |.

    h3 For the web-environment
    p.text Third party inclusions happen many times, for a technical reason. is not a problem per se, still, we've to aim for a reduction, having HTTPS for the few, and ensure log removal ASAP; every third party inclusion might create a profile of you, and this can harm you and the society. The best metaphor to is still 
        a(href="https://www.theguardian.com/technology/2008/jan/15/data.security") Toxic waste
        |  from Cory Doctorw.

.container
    h2 The companies? what they might do for your protection
    p.text The companies have only a partial fault, they are in a Nation in which a gag order can force them to cooperate. An anticipated advice list was the one 
        a(href='https://www.eff.org/deeplinks/2016/11/tech-companies-fix-these-technical-issues-its-too-late') EFF made when Trump was still president Elected
        |.

    h3 Open questions and nice long term solutions:
    ul.text
        li How easy is it to link the collected profiles to a phone number (and to a physical ID)? Can you minimize your data collected into groups of users instead of keeping personal behavior&apos;s history? We will assume you are keeping individual personal profile unless otherwise stated.
        li The access itself to such website creates 
            a(href='https://www.teachprivacy.com/sensitive-data-different-definitions-privacy-law/', target='_blank') sensitive data
            |; Would be appropriate treat all users navigating in those sites 
            b as if
            |  they have 
            a(href='https://en.wikipedia.org/wiki/Do_Not_Track', target='_blank') Do Not Track
            |  enabled (Note: 
            a(href="http://abcnews.go.com/Technology/wireStory/facebook-data-surveillance-46104496") Facebook gave a nice declaration of intent
            |; Indeed they display a 
            a(href="https://theintercept.com/2017/03/02/palantir-provides-the-engine-for-donald-trumps-deportation-machine/") different style compared to Palantir
            |, but still, technical solutions like the end2end deployment gives a measurable security, words are nice but words don't protect against Intelligence infiltrating Facebook nor against National Security Letters)
        li Can you disclose the amount and the kind of metadata you collect? considering these data describe societal behavior, knowing who has more metadata is in the public interest.
        li If your company, ever got any request for user selection based on their religious beliefs: send a tip off to the investigative journalists of 
            a(href='https://www.propublica.org/article/how-to-leak-to-propublica', target='_blank') ProPublica
            | , they wrote this 
            a(href='https://www.propublica.org/article/facebook-lets-advertisers-exclude-users-by-race', target='_blank') story on racial profiling performed by Facebook
            | : but how many other companies can do the same?
        li Have you ever been compromised? do you have any mechanism that might prevent an unfaithful employee or remote attacker to steal profile based data from your server? We have to assume you are not protected if not otherwise stated.
        li Soon the European Data Protection Regulation will be in place, are the safeguards ready? Which interaction would have Donald Trump in the Privacy Shield? Why you pursue a model of differential-privacy based on citizenship? Wouldn't be easier do business and social activities if ONE framework is in place?
        li Do you include in the transparency report the data about mass requests? can you differentiate when a target is a group or an individual?

.container
    h2 You are a node in a network
    ul.text
        li
            b Do you know someone in these companies
            | ? Forward them the idea above, they will rather listen to a friend like you than a website like us.
        li
            b Protect yourself
            | : check it out how to reduce your 
            a(href='https://myshadow.org/prevent-online-tracking') Digital Shadow
            | , or look at  
            a(href='http://www.internetsociety.org/your-digital-footprint/what-is') these videos of Internet Society
            |  if you want to know more.
        li
            b If you know the owner of websites
            |  asks them to control their third party trackers. Many time they are not even aware on how many are present.

.container
    h2 F.A.Q.
    p.question How did we find the trackers?
    p.text The analysis is based on this approach used by 
        a(href='https://webtransparency.cs.princeton.edu/webcensus/', target='_blank') Princeton University WebCensus
        | done 1 year ago. The technology is the advancement of 
        a(href='https://trackography.org') Trackography
        |, now grown in this framework: 
        a(href='https://invi.sible.link') invi.sible.link
        |. Attributing third party trackers to companies and to countries might still have some problems.
    p.question Is this wiretapping?
    p.text No, that can be solved if the website uses HTTPS, and the wiretapper can't profile you. This attacks has been revealed by 
        a(href="https://www.theguardian.com/world/2014/jan/27/nsa-gchq-smartphone-app-angry-birds-personal-data") Edward Snowden, on the NSA intercepting third party server of Angry Bird
        |. Still, the company which owns the services has all the potential to profile you. Encryption is beneficial for the company too.
